.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 500 px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width:  100%;
    margin-top: 30px;
    font-size: 48px;
}

.submit {
    color: #5e0fcc;
    cursor: pointer;
}

.submit:hover,
.submit:active {
    color: #270b4e;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0px;
}

.input{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    margin-top: 25px;
}