.current-chats-container {
    display: flex;
  }

  .logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logout-button {
    text-decoration: none;
    color: #4682b4;
    padding: 10px;
    background-color: #87ceeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .logout-button:hover {
    background-color: #5da4d8;
  }

  .create-chatroom-button, .homepage-link, .send-button 
  {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #87ceeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }

  .create-chatroom-button:hover, .homepage-link:hover, .send-button:hover{
    background-color: #5da4d8;
  } 
  
  .chatroom-list {
    flex: 1;
    margin-right: 20px;
  }
  
  .selected-chatroom {
    flex: 1;
    border-left: 1px solid #4682b4;
    padding-left: 20px;
  }
  
  .chatroom-item {
    cursor: pointer;
    padding: 10px;
    background-color: #87ceeb;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .chatroom-item:hover {
    background-color: #5da4d8;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .message-input {
    position: fixed;
    bottom: 120px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .message-input input {
    padding: 8px;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
  }
  
  .message-input button {
    padding: 10px;
    cursor: pointer;
    height: 46px;
    width: 70px;
  }
  
  .message-input button:hover {
    background-color: #45a049;
  }
  
  a:hover {
    text-decoration: underline;
  }

  